{% extends "ask/navigation_bar.html" %}
{% load static %}

{% block styles %}
<link rel="stylesheet" type="text/css" href="{% static 'ask/navigation_bar.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'ask/questions.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'ask/friends.css' %}">
{% endblock styles %}

{% block content %}
<div class="questions">
    <div class="question_block">
        <div class="menu">
            <a href="{% url 'ask:friends.recent' %}" class="item">Recently added</a>
            <a href="{% url 'ask:friends.alph' %}" class="item">Alphabetical order</a>
            <a href="{% url 'ask:friends.inv' %}" class="item">Invitations</a>
            <a></a>
            <form method="GET" action="{% url 'ask:friends' %}">
                <a class="search_text">Search: </a>
                <input type="text" class="search" required>
            </form>
        </div>
        <hr>
        {% if show_invites %}
        <div class="friends_container">
            {% if invitations|length > 0 %}
            {% for user in invitations %}
            <div class="friend">
                <img src="https://via.placeholder.com/100" class="avatar">
                <br><a class="username">{{user.username}}</a>
                <form method="POST" action="{% url 'ask:friends.accept' %}">
                    {% csrf_token %}
                    <input type="hidden" name="user_id" value={{user.id}}>
                    <input type="submit" class="accept" value="Accept" required>
                </form>
            </div>
            {% endfor %}
            {% else %}
            <p class="message">You have no new invitations</p>
            {% endif %}
        </div>
        {% else %}
        <div class="friends_container">
            {% if friends|length > 0 %}
            {% for friend in friends %}
            <div class="friend">
                <img src="https://via.placeholder.com/100" class="avatar">
                <br><a class="username" href="{% url 'ask:user' friend.username %}">{{friend.username}}</a>
            </div>
            {% endfor %}
            {% else %}
            <p class="message">You have no friends yet</p>
            {% endif %}
        </div>
        {% endif %}
    </div>
</div>
{% endblock content %}