{% extends "ask/login_bar.html" %}
{% load static %}

{%block styles %}
<link rel="stylesheet" type="text/css" href="{% static 'ask/navigation_bar.css' %}">
{% endblock styles %}

{% block nav %}
<nav>
    <div class="nav_avatar_position">
        <img src="https://via.placeholder.com/100" class="nav_avatar">
        <p class="nav_username">{{request.session.username}}</p>
        <hr class="nav_line">
    </div>
    <a href="{% url 'ask:profile' %}">My Profile</a>
    {% if num_unanswered > 0 %}
    <a href="{% url 'ask:unanswered' %}">Unanswered questions({{num_unanswered}})</a>
    {% else %}
    <a href="{% url 'ask:unanswered' %}">Unanswered questions</a>
    {% endif %}
    {% if num_invites %}
    <a href="{% url 'ask:friends' %}">Friends({{num_invites}})</a>
    {% else %}
    <a href="{% url 'ask:friends' %}">Friends</a>
    {% endif %}
    <a>Messages</a>
    <a>Settings</a>
</nav>
{% endblock nav %}