<!DOCTYPE html>
<html>

<head>
    {% block site_title %}
    <title>Question and Answers</title>
    {% endblock site_title %}
</head>

<body>
    <nav>
        {% if request.session.logged_in %}
        <p>Logged in as {{request.session.username}}</p>
        <a href="./logout"><input type="button" value="Log Out"></a>
        {% else %}
        <a href="./login"><input type="button" value="Log In"></a>
        <a href="./signup"><input type="button" value="Sign Up"></a>
        {% endif %}
    </nav>
    {% block content %}
    <main>
        <h1>Welcome to Question and Answers</h1>
        <p>Site where you can find all the answers</p>
    </main>
    {% endblock content %}
</body>

</html>