{% extends "ask/login_bar.html" %}
{% load static %}

{%block styles %}
<link rel="stylesheet" type="text/css" href="{% static 'ask/navigation_bar.css' %}">
{% endblock styles %}

{% block nav %}
<nav>
    <a href="{% url 'ask:profile' %}">My Profile</a>
    {% if num_unanswered > 0 %}
    <a href="{% url 'ask:unanswered' %}">Unanswered questions({{num_unanswered}})</a>
    {% else %}
    <a href="{% url 'ask:unanswered' %}">Unanswered questions</a>
    {% endif %}
    <a href="{% url 'ask:friends' %}">Friends</a>
    <a>Messages</a>
    <a>Settings</a>
</nav>
{% endblock nav %}