{% extends "ask/login_bar.html" %}
{% load static %}

{% block site_title %}
<title>Profile</title>
{% endblock site_title %}

{%block styles %}
<link rel="stylesheet" type="text/css" href="{% static 'ask/user.css' %}">
{% endblock styles %}

{%block content %}
<main>
    <div class="questions">
        <div class="question_block">
            <p class="question">Question 1</p>
            <p class="answer">Answer 1</p>
        </div>
        <div class="question_block">
            <p class="question">Question 2</p>
            <p class="answer">Answer 2</p>
        </div>
        {% for question, answer in questions_with_answers %}
        <div class="question_block">
            <p class="question">{{ question.content }}</p>
            <p class="answer">{{ answer.content }}</p>
        </div>
        {% endfor %}
    </div>
    <nav>
        <a>My questions</a>
        {% if num_unanswered > 0 %}
            <a>Unanswered questions({{num_unanswered}})</a>
        {% else %}
            <a>Unanswered questions</a>
        {% endif %}
        <a>Friends</a>
        <a>Messages</a>
        <a>Profile Settings</a>
    </nav>
</main>
{% endblock content %}