{% extends "ask/navigation_bar.html" %}
{% load static %}

{% block site_title %}
<title>Profile</title>
{% endblock site_title %}

{%block styles %}
<link rel="stylesheet" type="text/css" href="{% static 'ask/navigation_bar.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'ask/questions.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'ask/profile.css' %}">
{% endblock styles %}

{%block content %}
<div class="questions">
    <div class="question_block">
        {% if questions_with_answers %}
        {% for question, answer in questions_with_answers %}
        <p class="question">{{ question.content }}</p>
        <p class="answer">{{ answer.content }}</p>
        {% endfor %}
        {% else %}
        <p class="no_unanswered">No questions yet</p>
        {% endif %}
    </div>
</div>
{% endblock content %}