.question_user_block {
    display: grid;
    background-color: beige;
    width: 85%;
    min-height: 20px;
    margin: 30px 40px 10px;
    border-radius: 10px;
}

.username {
    font-weight: bold;
    font-size: 20px;
    vertical-align: middle;
    height: 20px;
    line-height: 20px;
    text-align: center;
}

.ask_question {
    display: grid;
    background-color: beige;
    width: 85%;
    min-height: 140px;
    margin: 10px 40px;
    border-radius: 10px;
}

.prompt {
    font-size: 11px;
    display: inline;
    margin: 5px 15% 2px 18%;
    color: grey;
}

.question_textbox {
    min-height: 50%;
    width: 70%;
    margin: 2px 15% 2px 15%;
}

.question_submit {
    width: 14%;
    margin: 0px 15% 5px 72%;
}

.bar_placeholder {
    display: grid;
    background-color: beige;
    width: 85%;
    min-height: 10px;
    margin: 20px 40px;
    border-radius: 10px;
}